References: https://www.youtube.com/watch?v=vmEHCJofslg

Documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/index.html

In [26]:
import pandas as pd

Series:

A series represents a column of a table

In [27]:
# singleSeries=pd.Series([1,2,3,5])   # Create a pandas Series (Single Column)
# print('Series\n',singleSeries)

# multipleSeries=pd.Series([[1,2,3,5]], ['a', 'b', 'c','d'])   # Create a pandas Series with inices a,b,c, and d 
# print('Indexed Series\n',multipleSeries)

Loading Data into Pandas

df.head(n) => return the first  n rows of the dataframe 

by default  n = 5

the file type could be  csv, excel, text, etc.

In [28]:
df= pd.read_csv('pokemon_data.csv')

print('CSV', df.head())

df_excel=pd.read_excel('pokemon_data.xlsx')

print('Excel', df_excel.head(10))

df_txt=pd.read_csv('pokemon_data.txt')
#this will show Name\tType (this is a tab the delimiter in the txt file, to show it without the \t we use a delimiter)
print('Text File', df_txt.head(4))

df_txt_delimiter=pd.read_csv('pokemon_data.txt', delimiter='\t')

print('Text File', df_txt_delimiter.head(3))

CSV    #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4             Charmander   Fire     NaN  39      52       43       60

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False
4       50     65           1      False
Excel    #                       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1                  Bulbasaur  Grass  Poison  45      49       49       65
1  2                    Ivysaur  Grass  Poison  60      62       63       80
2  3                   Venusaur  Grass  Poison  80      82       83      100
3  3      VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4                 Charmander   Fire     NaN  39      52       43       60
5  5                 Charmeleon   Fire     NaN  58      64       58       80
6  6                  Charizard   Fire  Flying  78      84       78      109
7  6  CharizardMega Charizard X   Fire  Dragon  78     130      111      130
8  6  CharizardMega Charizard Y   Fire  Flying  78     104       78      159
9  7                   Squirtle  Water     NaN  44      48       65       50

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False
4       50     65           1      False
5       65     80           1      False
6       85    100           1      False
7       85    100           1      False
8      115    100           1      False
9       64     43           1      False
Text File   #\tName\tType 1\tType 2\tHP\tAttack\tDefense\tSp. Atk\tSp. Def\tSpeed\tGeneration\tLegendary
0  1\tBulbasaur\tGrass\tPoison\t45\t49\t49\t65\t6...
1  2\tIvysaur\tGrass\tPoison\t60\t62\t63\t80\t80\...
2  3\tVenusaur\tGrass\tPoison\t80\t82\t83\t100\t1...
3  3\tVenusaurMega Venusaur\tGrass\tPoison\t80\t1...
Text File    #       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
0  1  Bulbasaur  Grass  Poison  45      49       49       65       65     45
1  2    Ivysaur  Grass  Poison  60      62       63       80       80     60
2  3   Venusaur  Grass  Poison  80      82       83      100      100     80

   Generation  Legendary
0           1      False
1           1      False
2           1      False

In [29]:

#!To read the columns of  the dataframe use:
cols= df.columns
print(cols)

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [ ]:

#! Read specific Columns  of a DataFrame
#? dataframe[['col_name1', 'col_name2']]
#? in the code below Im reading the 3 columns (Name, Type 1, HP)
print("Read specific Columns  of a DataFrame")
print(df[['Name', 'Type 1', 'HP']]) #multiple columns
print(df.Name) #specific column

Read specific Columns  of a DataFrame
0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

For Selection

Selection Ranges by Label: df.loc[] 

Selection Element by label: df.loc[] df.at[] .at is faster than loc


Selection Ranges by Index: df.iloc[] 

Selection Element by Index: df.iloc[] df.iat[] .iat is faster than iloc

In [54]:

#! Values Selection by Label (in this  case, the label is the index of the value)

print(df.loc[1:4, ['Name', 'Total']].to_string())
print('Read Single Row',df.loc[4].to_string())
print('Read Specific element',df.at[1, 'Name'])

                    Name  Total
1                Ivysaur    405
2               Venusaur    525
3  VenusaurMega Venusaur    625
4             Charmander    309
Read Single Row #                      4
Name          Charmander
Type 1              Fire
Type 2               NaN
Total                309
HP                    39
Attack                52
Defense               43
Sp. Atk               60
Sp. Def               50
Speed                 65
Generation             1
Legendary          False
Read Specific element Ivysaur

In [57]:

#! Values Selection by Index 
print('iloc',df.iloc[1:4,5:6])
print('iat',df.iat[4,6])

iloc    HP
1  60
2  80
3  80
iat 52

In [32]:

#! iterate  over rows and columns
#? dataframe.iterrows():   for rows

for index, row in df.iterrows():
    print('row', index, row['Name']) #!read the cell value of 'Name'  column in  each row
    #print('row', index, row)  #!read the whole  row

row 0 Bulbasaur
row 1 Ivysaur
row 2 Venusaur
row 3 VenusaurMega Venusaur
row 4 Charmander
row 5 Charmeleon
row 6 Charizard
row 7 CharizardMega Charizard X
row 8 CharizardMega Charizard Y
row 9 Squirtle
row 10 Wartortle
row 11 Blastoise
row 12 BlastoiseMega Blastoise
row 13 Caterpie
row 14 Metapod
row 15 Butterfree
row 16 Weedle
row 17 Kakuna
row 18 Beedrill
row 19 BeedrillMega Beedrill
row 20 Pidgey
row 21 Pidgeotto
row 22 Pidgeot
row 23 PidgeotMega Pidgeot
row 24 Rattata
row 25 Raticate
row 26 Spearow
row 27 Fearow
row 28 Ekans
row 29 Arbok
row 30 Pikachu
row 31 Raichu
row 32 Sandshrew
row 33 Sandslash
row 34 Nidoran (Female)
row 35 Nidorina
row 36 Nidoqueen
row 37 Nidoran (Male)
row 38 Nidorino
row 39 Nidoking
row 40 Clefairy
row 41 Clefable
row 42 Vulpix
row 43 Ninetales
row 44 Jigglypuff
row 45 Wigglytuff
row 46 Zubat
row 47 Golbat
row 48 Oddish
row 49 Gloom
row 50 Vileplume
row 51 Paras
row 52 Parasect
row 53 Venonat
row 54 Venomoth
row 55 Diglett
row 56 Dugtrio
row 57 Meowth
row 58 Persian
row 59 Psyduck
row 60 Golduck
row 61 Mankey
row 62 Primeape
row 63 Growlithe
row 64 Arcanine
row 65 Poliwag
row 66 Poliwhirl
row 67 Poliwrath
row 68 Abra
row 69 Kadabra
row 70 Alakazam
row 71 AlakazamMega Alakazam
row 72 Machop
row 73 Machoke
row 74 Machamp
row 75 Bellsprout
row 76 Weepinbell
row 77 Victreebel
row 78 Tentacool
row 79 Tentacruel
row 80 Geodude
row 81 Graveler
row 82 Golem
row 83 Ponyta
row 84 Rapidash
row 85 Slowpoke
row 86 Slowbro
row 87 SlowbroMega Slowbro
row 88 Magnemite
row 89 Magneton
row 90 Farfetch'd
row 91 Doduo
row 92 Dodrio
row 93 Seel
row 94 Dewgong
row 95 Grimer
row 96 Muk
row 97 Shellder
row 98 Cloyster
row 99 Gastly
row 100 Haunter
row 101 Gengar
row 102 GengarMega Gengar
row 103 Onix
row 104 Drowzee
row 105 Hypno
row 106 Krabby
row 107 Kingler
row 108 Voltorb
row 109 Electrode
row 110 Exeggcute
row 111 Exeggutor
row 112 Cubone
row 113 Marowak
row 114 Hitmonlee
row 115 Hitmonchan
row 116 Lickitung
row 117 Koffing
row 118 Weezing
row 119 Rhyhorn
row 120 Rhydon
row 121 Chansey
row 122 Tangela
row 123 Kangaskhan
row 124 KangaskhanMega Kangaskhan
row 125 Horsea
row 126 Seadra
row 127 Goldeen
row 128 Seaking
row 129 Staryu
row 130 Starmie
row 131 Mr. Mime
row 132 Scyther
row 133 Jynx
row 134 Electabuzz
row 135 Magmar
row 136 Pinsir
row 137 PinsirMega Pinsir
row 138 Tauros
row 139 Magikarp
row 140 Gyarados
row 141 GyaradosMega Gyarados
row 142 Lapras
row 143 Ditto
row 144 Eevee
row 145 Vaporeon
row 146 Jolteon
row 147 Flareon
row 148 Porygon
row 149 Omanyte
row 150 Omastar
row 151 Kabuto
row 152 Kabutops
row 153 Aerodactyl
row 154 AerodactylMega Aerodactyl
row 155 Snorlax
row 156 Articuno
row 157 Zapdos
row 158 Moltres
row 159 Dratini
row 160 Dragonair
row 161 Dragonite
row 162 Mewtwo
row 163 MewtwoMega Mewtwo X
row 164 MewtwoMega Mewtwo Y
row 165 Mew
row 166 Chikorita
row 167 Bayleef
row 168 Meganium
row 169 Cyndaquil
row 170 Quilava
row 171 Typhlosion
row 172 Totodile
row 173 Croconaw
row 174 Feraligatr
row 175 Sentret
row 176 Furret
row 177 Hoothoot
row 178 Noctowl
row 179 Ledyba
row 180 Ledian
row 181 Spinarak
row 182 Ariados
row 183 Crobat
row 184 Chinchou
row 185 Lanturn
row 186 Pichu
row 187 Cleffa
row 188 Igglybuff
row 189 Togepi
row 190 Togetic
row 191 Natu
row 192 Xatu
row 193 Mareep
row 194 Flaaffy
row 195 Ampharos
row 196 AmpharosMega Ampharos
row 197 Bellossom
row 198 Marill
row 199 Azumarill
row 200 Sudowoodo
row 201 Politoed
row 202 Hoppip
row 203 Skiploom
row 204 Jumpluff
row 205 Aipom
row 206 Sunkern
row 207 Sunflora
row 208 Yanma
row 209 Wooper
row 210 Quagsire
row 211 Espeon
row 212 Umbreon
row 213 Murkrow
row 214 Slowking
row 215 Misdreavus
row 216 Unown
row 217 Wobbuffet
row 218 Girafarig
row 219 Pineco
row 220 Forretress
row 221 Dunsparce
row 222 Gligar
row 223 Steelix
row 224 SteelixMega Steelix
row 225 Snubbull
row 226 Granbull
row 227 Qwilfish
row 228 Scizor
row 229 ScizorMega Scizor
row 230 Shuckle
row 231 Heracross
row 232 HeracrossMega Heracross
row 233 Sneasel
row 234 Teddiursa
row 235 Ursaring
row 236 Slugma
row 237 Magcargo
row 238 Swinub
row 239 Piloswine
row 240 Corsola
row 241 Remoraid
row 242 Octillery
row 243 Delibird
row 244 Mantine
row 245 Skarmory
row 246 Houndour
row 247 Houndoom
row 248 HoundoomMega Houndoom
row 249 Kingdra
row 250 Phanpy
row 251 Donphan
row 252 Porygon2
row 253 Stantler
row 254 Smeargle
row 255 Tyrogue
row 256 Hitmontop
row 257 Smoochum
row 258 Elekid
row 259 Magby
row 260 Miltank
row 261 Blissey
row 262 Raikou
row 263 Entei
row 264 Suicune
row 265 Larvitar
row 266 Pupitar
row 267 Tyranitar
row 268 TyranitarMega Tyranitar
row 269 Lugia
row 270 Ho-oh
row 271 Celebi
row 272 Treecko
row 273 Grovyle
row 274 Sceptile
row 275 SceptileMega Sceptile
row 276 Torchic
row 277 Combusken
row 278 Blaziken
row 279 BlazikenMega Blaziken
row 280 Mudkip
row 281 Marshtomp
row 282 Swampert
row 283 SwampertMega Swampert
row 284 Poochyena
row 285 Mightyena
row 286 Zigzagoon
row 287 Linoone
row 288 Wurmple
row 289 Silcoon
row 290 Beautifly
row 291 Cascoon
row 292 Dustox
row 293 Lotad
row 294 Lombre
row 295 Ludicolo
row 296 Seedot
row 297 Nuzleaf
row 298 Shiftry
row 299 Taillow
row 300 Swellow
row 301 Wingull
row 302 Pelipper
row 303 Ralts
row 304 Kirlia
row 305 Gardevoir
row 306 GardevoirMega Gardevoir
row 307 Surskit
row 308 Masquerain
row 309 Shroomish
row 310 Breloom
row 311 Slakoth
row 312 Vigoroth
row 313 Slaking
row 314 Nincada
row 315 Ninjask
row 316 Shedinja
row 317 Whismur
row 318 Loudred
row 319 Exploud
row 320 Makuhita
row 321 Hariyama
row 322 Azurill
row 323 Nosepass
row 324 Skitty
row 325 Delcatty
row 326 Sableye
row 327 SableyeMega Sableye
row 328 Mawile
row 329 MawileMega Mawile
row 330 Aron
row 331 Lairon
row 332 Aggron
row 333 AggronMega Aggron
row 334 Meditite
row 335 Medicham
row 336 MedichamMega Medicham
row 337 Electrike
row 338 Manectric
row 339 ManectricMega Manectric
row 340 Plusle
row 341 Minun
row 342 Volbeat
row 343 Illumise
row 344 Roselia
row 345 Gulpin
row 346 Swalot
row 347 Carvanha
row 348 Sharpedo
row 349 SharpedoMega Sharpedo
row 350 Wailmer
row 351 Wailord
row 352 Numel
row 353 Camerupt
row 354 CameruptMega Camerupt
row 355 Torkoal
row 356 Spoink
row 357 Grumpig
row 358 Spinda
row 359 Trapinch
row 360 Vibrava
row 361 Flygon
row 362 Cacnea
row 363 Cacturne
row 364 Swablu
row 365 Altaria
row 366 AltariaMega Altaria
row 367 Zangoose
row 368 Seviper
row 369 Lunatone
row 370 Solrock
row 371 Barboach
row 372 Whiscash
row 373 Corphish
row 374 Crawdaunt
row 375 Baltoy
row 376 Claydol
row 377 Lileep
row 378 Cradily
row 379 Anorith
row 380 Armaldo
row 381 Feebas
row 382 Milotic
row 383 Castform
row 384 Kecleon
row 385 Shuppet
row 386 Banette
row 387 BanetteMega Banette
row 388 Duskull
row 389 Dusclops
row 390 Tropius
row 391 Chimecho
row 392 Absol
row 393 AbsolMega Absol
row 394 Wynaut
row 395 Snorunt
row 396 Glalie
row 397 GlalieMega Glalie
row 398 Spheal
row 399 Sealeo
row 400 Walrein
row 401 Clamperl
row 402 Huntail
row 403 Gorebyss
row 404 Relicanth
row 405 Luvdisc
row 406 Bagon
row 407 Shelgon
row 408 Salamence
row 409 SalamenceMega Salamence
row 410 Beldum
row 411 Metang
row 412 Metagross
row 413 MetagrossMega Metagross
row 414 Regirock
row 415 Regice
row 416 Registeel
row 417 Latias
row 418 LatiasMega Latias
row 419 Latios
row 420 LatiosMega Latios
row 421 Kyogre
row 422 KyogrePrimal Kyogre
row 423 Groudon
row 424 GroudonPrimal Groudon
row 425 Rayquaza
row 426 RayquazaMega Rayquaza
row 427 Jirachi
row 428 DeoxysNormal Forme
row 429 DeoxysAttack Forme
row 430 DeoxysDefense Forme
row 431 DeoxysSpeed Forme
row 432 Turtwig
row 433 Grotle
row 434 Torterra
row 435 Chimchar
row 436 Monferno
row 437 Infernape
row 438 Piplup
row 439 Prinplup
row 440 Empoleon
row 441 Starly
row 442 Staravia
row 443 Staraptor
row 444 Bidoof
row 445 Bibarel
row 446 Kricketot
row 447 Kricketune
row 448 Shinx
row 449 Luxio
row 450 Luxray
row 451 Budew
row 452 Roserade
row 453 Cranidos
row 454 Rampardos
row 455 Shieldon
row 456 Bastiodon
row 457 Burmy
row 458 WormadamPlant Cloak
row 459 WormadamSandy Cloak
row 460 WormadamTrash Cloak
row 461 Mothim
row 462 Combee
row 463 Vespiquen
row 464 Pachirisu
row 465 Buizel
row 466 Floatzel
row 467 Cherubi
row 468 Cherrim
row 469 Shellos
row 470 Gastrodon
row 471 Ambipom
row 472 Drifloon
row 473 Drifblim
row 474 Buneary
row 475 Lopunny
row 476 LopunnyMega Lopunny
row 477 Mismagius
row 478 Honchkrow
row 479 Glameow
row 480 Purugly
row 481 Chingling
row 482 Stunky
row 483 Skuntank
row 484 Bronzor
row 485 Bronzong
row 486 Bonsly
row 487 Mime Jr.
row 488 Happiny
row 489 Chatot
row 490 Spiritomb
row 491 Gible
row 492 Gabite
row 493 Garchomp
row 494 GarchompMega Garchomp
row 495 Munchlax
row 496 Riolu
row 497 Lucario
row 498 LucarioMega Lucario
row 499 Hippopotas
row 500 Hippowdon
row 501 Skorupi
row 502 Drapion
row 503 Croagunk
row 504 Toxicroak
row 505 Carnivine
row 506 Finneon
row 507 Lumineon
row 508 Mantyke
row 509 Snover
row 510 Abomasnow
row 511 AbomasnowMega Abomasnow
row 512 Weavile
row 513 Magnezone
row 514 Lickilicky
row 515 Rhyperior
row 516 Tangrowth
row 517 Electivire
row 518 Magmortar
row 519 Togekiss
row 520 Yanmega
row 521 Leafeon
row 522 Glaceon
row 523 Gliscor
row 524 Mamoswine
row 525 Porygon-Z
row 526 Gallade
row 527 GalladeMega Gallade
row 528 Probopass
row 529 Dusknoir
row 530 Froslass
row 531 Rotom
row 532 RotomHeat Rotom
row 533 RotomWash Rotom
row 534 RotomFrost Rotom
row 535 RotomFan Rotom
row 536 RotomMow Rotom
row 537 Uxie
row 538 Mesprit
row 539 Azelf
row 540 Dialga
row 541 Palkia
row 542 Heatran
row 543 Regigigas
row 544 GiratinaAltered Forme
row 545 GiratinaOrigin Forme
row 546 Cresselia
row 547 Phione
row 548 Manaphy
row 549 Darkrai
row 550 ShayminLand Forme
row 551 ShayminSky Forme
row 552 Arceus
row 553 Victini
row 554 Snivy
row 555 Servine
row 556 Serperior
row 557 Tepig
row 558 Pignite
row 559 Emboar
row 560 Oshawott
row 561 Dewott
row 562 Samurott
row 563 Patrat
row 564 Watchog
row 565 Lillipup
row 566 Herdier
row 567 Stoutland
row 568 Purrloin
row 569 Liepard
row 570 Pansage
row 571 Simisage
row 572 Pansear
row 573 Simisear
row 574 Panpour
row 575 Simipour
row 576 Munna
row 577 Musharna
row 578 Pidove
row 579 Tranquill
row 580 Unfezant
row 581 Blitzle
row 582 Zebstrika
row 583 Roggenrola
row 584 Boldore
row 585 Gigalith
row 586 Woobat
row 587 Swoobat
row 588 Drilbur
row 589 Excadrill
row 590 Audino
row 591 AudinoMega Audino
row 592 Timburr
row 593 Gurdurr
row 594 Conkeldurr
row 595 Tympole
row 596 Palpitoad
row 597 Seismitoad
row 598 Throh
row 599 Sawk
row 600 Sewaddle
row 601 Swadloon
row 602 Leavanny
row 603 Venipede
row 604 Whirlipede
row 605 Scolipede
row 606 Cottonee
row 607 Whimsicott
row 608 Petilil
row 609 Lilligant
row 610 Basculin
row 611 Sandile
row 612 Krokorok
row 613 Krookodile
row 614 Darumaka
row 615 DarmanitanStandard Mode
row 616 DarmanitanZen Mode
row 617 Maractus
row 618 Dwebble
row 619 Crustle
row 620 Scraggy
row 621 Scrafty
row 622 Sigilyph
row 623 Yamask
row 624 Cofagrigus
row 625 Tirtouga
row 626 Carracosta
row 627 Archen
row 628 Archeops
row 629 Trubbish
row 630 Garbodor
row 631 Zorua
row 632 Zoroark
row 633 Minccino
row 634 Cinccino
row 635 Gothita
row 636 Gothorita
row 637 Gothitelle
row 638 Solosis
row 639 Duosion
row 640 Reuniclus
row 641 Ducklett
row 642 Swanna
row 643 Vanillite
row 644 Vanillish
row 645 Vanilluxe
row 646 Deerling
row 647 Sawsbuck
row 648 Emolga
row 649 Karrablast
row 650 Escavalier
row 651 Foongus
row 652 Amoonguss
row 653 Frillish
row 654 Jellicent
row 655 Alomomola
row 656 Joltik
row 657 Galvantula
row 658 Ferroseed
row 659 Ferrothorn
row 660 Klink
row 661 Klang
row 662 Klinklang
row 663 Tynamo
row 664 Eelektrik
row 665 Eelektross
row 666 Elgyem
row 667 Beheeyem
row 668 Litwick
row 669 Lampent
row 670 Chandelure
row 671 Axew
row 672 Fraxure
row 673 Haxorus
row 674 Cubchoo
row 675 Beartic
row 676 Cryogonal
row 677 Shelmet
row 678 Accelgor
row 679 Stunfisk
row 680 Mienfoo
row 681 Mienshao
row 682 Druddigon
row 683 Golett
row 684 Golurk
row 685 Pawniard
row 686 Bisharp
row 687 Bouffalant
row 688 Rufflet
row 689 Braviary
row 690 Vullaby
row 691 Mandibuzz
row 692 Heatmor
row 693 Durant
row 694 Deino
row 695 Zweilous
row 696 Hydreigon
row 697 Larvesta
row 698 Volcarona
row 699 Cobalion
row 700 Terrakion
row 701 Virizion
row 702 TornadusIncarnate Forme
row 703 TornadusTherian Forme
row 704 ThundurusIncarnate Forme
row 705 ThundurusTherian Forme
row 706 Reshiram
row 707 Zekrom
row 708 LandorusIncarnate Forme
row 709 LandorusTherian Forme
row 710 Kyurem
row 711 KyuremBlack Kyurem
row 712 KyuremWhite Kyurem
row 713 KeldeoOrdinary Forme
row 714 KeldeoResolute Forme
row 715 MeloettaAria Forme
row 716 MeloettaPirouette Forme
row 717 Genesect
row 718 Chespin
row 719 Quilladin
row 720 Chesnaught
row 721 Fennekin
row 722 Braixen
row 723 Delphox
row 724 Froakie
row 725 Frogadier
row 726 Greninja
row 727 Bunnelby
row 728 Diggersby
row 729 Fletchling
row 730 Fletchinder
row 731 Talonflame
row 732 Scatterbug
row 733 Spewpa
row 734 Vivillon
row 735 Litleo
row 736 Pyroar
row 737 Flabébé
row 738 Floette
row 739 Florges
row 740 Skiddo
row 741 Gogoat
row 742 Pancham
row 743 Pangoro
row 744 Furfrou
row 745 Espurr
row 746 MeowsticMale
row 747 MeowsticFemale
row 748 Honedge
row 749 Doublade
row 750 AegislashBlade Forme
row 751 AegislashShield Forme
row 752 Spritzee
row 753 Aromatisse
row 754 Swirlix
row 755 Slurpuff
row 756 Inkay
row 757 Malamar
row 758 Binacle
row 759 Barbaracle
row 760 Skrelp
row 761 Dragalge
row 762 Clauncher
row 763 Clawitzer
row 764 Helioptile
row 765 Heliolisk
row 766 Tyrunt
row 767 Tyrantrum
row 768 Amaura
row 769 Aurorus
row 770 Sylveon
row 771 Hawlucha
row 772 Dedenne
row 773 Carbink
row 774 Goomy
row 775 Sliggoo
row 776 Goodra
row 777 Klefki
row 778 Phantump
row 779 Trevenant
row 780 PumpkabooAverage Size
row 781 PumpkabooSmall Size
row 782 PumpkabooLarge Size
row 783 PumpkabooSuper Size
row 784 GourgeistAverage Size
row 785 GourgeistSmall Size
row 786 GourgeistLarge Size
row 787 GourgeistSuper Size
row 788 Bergmite
row 789 Avalugg
row 790 Noibat
row 791 Noivern
row 792 Xerneas
row 793 Yveltal
row 794 Zygarde50% Forme
row 795 Diancie
row 796 DiancieMega Diancie
row 797 HoopaHoopa Confined
row 798 HoopaHoopa Unbound
row 799 Volcanion

In [33]:

#! df.loc: display the dataframe in a pretty way based on a specific condition of a column value
df.loc[df['Type 1'] == "Grass"]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False

In [34]:

#! Read a specific location (R,C)
#? df.iloc[row, col]
print(df.iloc[2,1])

Venusaur

Describe

In [35]:

#!provide statistical overview on the numerical values of the dataframe
print('All Columns')
df.describe() #all columns

All Columns

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [36]:
print('HP Columns: ')
df.describe()['HP'] #specific column

HP Columns:

count    800.000000
mean      69.258750
std       25.534669
min        1.000000
25%       50.000000
50%       65.000000
75%       80.000000
max      255.000000
Name: HP, dtype: float64

Sorting Ascending/Descending:

In [37]:
df.sort_values(['Name'])   # Sort the DataFrame by 'Name' column  in ascending order
df
# df.sort_values('Name', ascending=False)   # Sort the DataFrame by 'Name' column  in descending order
# df.sort_values(['Type 1', 'HP'], ascending=[1,0])    # Sort the DataFrame respectively by 'Type 1' and 'HP' columns in ascending and descending
# DataFrame.sort_index() sorts by an axis (1 for  columns, 0 for rows)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [38]:
print('HP Columns: ', df.describe()['HP'])

HP Columns:  count    800.000000
mean      69.258750
std       25.534669
min        1.000000
25%       50.000000
50%       65.000000
75%       80.000000
max      255.000000
Name: HP, dtype: float64

Making changes to the data

In [39]:

#! adding new column 
df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed'] 
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [40]:

#! drop a specific column
# df.drop(columns=['column_name'])
# df.drop(columns=['Total'])

df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [41]:

df['Total'] = df.iloc[:, 4:10].sum(axis=1)  # axis=1  means sum along rows (horizontally) while axis=0  means sum along columns (vertically)


cols = list(df.columns)
# ['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary', 'Total']

print(cols)

df=df[cols[0:4]+[cols[-1]]+cols[4:12]] 
#-1 for tge last column this will  reorder the columns to the desired order since the col[-1] a dataframe (its a column so we wrapped it  in square brackets) is the last column of the dataframe

df

['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary', 'Total']

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

Saving our Data (Exporting into Desired Format)

In [42]:
df.to_csv('modified.csv', index=False)

df.to_excel('modified.xlsx', index=False)

df.to_csv('modified.txt', index=False, sep='\t')


Filtering Data

In [43]:
new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]

new_df.reset_index(drop=True, inplace=True)

new_df

new_df.to_csv('filtered.csv')

In [44]:

df = pd.read_csv('modified.csv')

df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True